/* This is the styling for nav section on all pages */

/* This property references the nav styling */
.nav {
  margin: 0;
  font-size: 20;
  font-style: bold;
  font-style: normal;
  font: black;
  line-height: 48px;
  text-decoration: none;
}

/*  This property references the link styling */
.nav-link {
  justify-content: end;
  text-decoration: none;
  padding-right: 2cm;
  font-weight: bold;
  font-size: 30px;
  color: #df1495;
}

/*  This property references the nav brand */
/* .navbar-brand {
  padding-right: 2cm;
  padding-left: 2cm;
  text-decoration: none;
  color: black;
  font-size: 48px;
} */

/*  This property references the color for the body */
body {
  background-color: white;
}

/* This is the styling for the intro page */

/* This property references the header  */
.masthead {
  text-align: center;
  text-emphasis: bold;
}

/*  This property references the h1 tag  */
.masthead-heading {
  font-size: 80px;
  color: #df1495;
}

/* This property references the paragraph */
.banana {
  color: black;
  width: 30%;
  border: 3px solid rgb(223, 20, 149);
  padding: 2em;
  margin-right: 110px;
  float: right;
}

/* This property references the dog photo  */
.dogs {
  width: 100%;
  border-radius: 30px;
}

/* This property references the cupcake photo  */
.cupcake {
  width: 100%;
  border-radius: 30px;
  /* top: 100%;
  bottom: 100%;
  left: 45%;
  right: 45%; */
}

/* This property references the coffee photo */
.coffee {
  border-radius: 30px;
}

/* The styling for hobbies page starts here  */

/*  This property references paragraph header */
.fav {
  font-size: 80px;
  color: #df1495;
  margin-top: 10px;
  text-align: center;
}

/*  This property references the yoga photo */
.yoga {
  float: right;
}

/*  This property references the <p> tag */
.hobbies {
  color: black;
  width: 40%;
  border: 3px solid rgb(223, 20, 149);
  padding: 2em;
  margin-right: 110px;
  float: right;
}

/*  This property references the two zumba photo */
.party {
  /* margin-left: 10px; */
  margin-right: 5em;
  float: right;
}

/*  This property references the row of books img  */
.bookImg {
  margin-left: 7%;
  margin-right: 7%;
}

/* This property references the book row */
/* .reading {
  margin-bottom: 20px;
} */

/* This is the styling for the UWS page */

/* This propert references the <h2> tag */

.current {
  font-size: 80px;
  text-align: center;
  color: #df1495;
}

/* This property references the paragraph */
.UWS {
  color: black;
  width: 30%;
  border: 3px solid #df1495;
  padding: 2em;
  margin-top: 20px;
  float: right 10%;
}

/* This property references the book photo */
.books {
  width: 40%;
  margin-top: 20px;
  margin-left: 10em;
  float: left;
}

/* This property references the park photo  */
.parks {
  width: 40%;
  margin-bottom: 20px;
  float: right;
}

/* This property references the img in the food row */
.img {
  width: 20%;
}

/* results with the food tag issue, the four image cannot have there own div and still be tag on the row div. They must all be in the same div to she a tag */

/* This property references the food row */
.food {
  margin-left: 7%;
  margin-right: 7%;
}
