/* This is the styling for nav section on all pages */

/* This property references the nav styling */
.nav {
  margin: 0;
  font-size: 20;
  font-style: bold;
  font-style: normal;
  font: black;
  line-height: 48px;
  text-decoration: none;
}

/*  This property references the link styling */
.nav-link {
  justify-content: end;
  text-decoration: none;
  padding-right: 2cm;
  color: #ef10d5;
  font-weight: bold;
  font-size: 20px;
}

/*  This property references the nav brand */
.navbar-brand {
  padding-right: 2cm;
  padding-left: 2cm;
  text-decoration: none;
  color: black;
  font-size: 48px;
}

/*  This property references the color for the body */
body {
  background-color: white;
}

/* This is the styling for the intro page */

/* This property references the header  */
.masthead {
  text-align: center;
  color: white;
  text-emphasis: bold;
}

/*  This property references the h1 tag  */
.masthead-heading {
  color: black;
}

/*  This property references the dog photo */

#dogs {
  width: 30%;
  border-radius: 30px;
  top: 60%;
  bottom: 60%;
  left: 45%;
  right: 45%;
}

/*  This property references the caption on the dog photo */
.barley {
  top: 100%;
  bottom: 100%;
  left: 10%;
  right: 10%;
}

/* This property references the cupcake photo  */
#cupcake {
  width: 30%;
  border-radius: 30px;
  top: 100%;
  bottom: 100%;
  left: 45%;
  right: 45%;
}
/* This property references the caption on the cupcake photo   */
.frog {
  text-align: center;
  top: 100%;
  bottom: 100%;
  left: 45%;
  right: 45%;
  image-rendering: center;
}

/*  This property references the <h5> on all three photo capitions  */
h5 {
  color: black;
}

/* This property references the coffee photo */
#coffee {
  border-radius: 30px;
  /* position: relative; */
  top: 100%;
  bottom: 100%;
  left: 45%;
  right: 45%;
}

/* This is the property for the caption on the coffee photo  */
.beverage {
  top: 100%;
  bottom: 100%;
  left: 45%;
  right: 45%;
}

/* The styling for hobbies page starts here  */

/*  This property references the <p> tag */
.hobbies {
  color: black;
  width: 30%;
  border: 3px solid rgb(223, 20, 149);
  padding: 2em;
  margin-right: 110px;
  float: right;
}

/*  This property references paragraph header */
.fav {
  margin-top: 10px;
  text-align: center;
}

/*  This property references the yoga photo */
.yoga {
  float: right;
}

/*  This property references the two zumba photo */
.party {
  margin-left: 10px;
  float: right;
  margin-right: 10px;
  float: right;
}

/*  This property references the row with the zumba photos  */

.dance {
  margin-right: 10em;
}

/*  This property references the row of books img  */
.bookImg {
  margin-left: 7%;
  margin-right: 7%;
}

/* This is the class for the video. The video not being used right now b/c it will not load properly */
.zumba {
  float: right;
  margin: auto;
}

/* The styling for the seaGirt page starts here */

/* This property references the header */
.from {
  text-align: center;
}

/* This property references the <p> tag */
.seaGirt {
  color: black;
  width: 30%;
  border: 3px solid red;
  padding: 2em;
  margin-top: 20px;
  margin-right: 110px;
  float: right;
}

.smile {
  width: 100%;
}

.beach {
  margin-top: 20px;
  width: 30%;
  border-radius: 30px;
  float: left 30px;
}

.delicious {
  width: 20%;
}
