/* This is for the class in the header on teh intro page */
.masthead {
  text-align: center;
  color: white;
  text-emphasis: bold;
}

/* This is the class on the h1 tag on the intro page */
.masthead-heading {
  color: black;
}

/* /* This is the nav styling on all pages  */
.nav {
  margin: 0;
  font-size: 20;
  font-style: bold;
  font-style: normal;
  font: black;
  line-height: 48px;
  text-decoration: none;
}

/* This is the link styling on all pages */
.nav-link {
  justify-content: end;
  text-decoration: none;
  padding-right: 2cm;
  color: #ef10d5;
  font-weight: bold;
  font-size: 20px;
}

/* This is the styling for the nav brand on all pages */
.navbar-brand {
  padding-right: 2cm;
  padding-left: 2cm;
  text-decoration: none;
  color: black;
  font-size: 48px;
}

/* This is the styling for the body tag on all pages */
body {
  background-color: white;
}

/* This is the id for the dog photo */

#dogs {
  width: 30%;
  border-radius: 30px;
  top: 60%;
  bottom: 60%;
  left: 45%;
  right: 45%;
}

/* This is the class for the caption on the dog photo */
.barley {
  top: 100%;
  bottom: 100%;
  left: 10%;
  right: 10%;
}

/* This is the id for the cupcake photo */
#cupcake {
  width: 30%;
  border-radius: 30px;
  top: 100%;
  bottom: 100%;
  left: 45%;
  right: 45%;
}

/* This is the class for the caption on the cupcake photo  */
.frog {
  text-align: center;
  top: 100%;
  bottom: 100%;
  left: 45%;
  right: 45%;
  image-rendering: center;
}

/* This is <h5> for css on all three photo capitions */
h5 {
  color: black;
}

/* This is the id for the coffee photo */
#coffee {
  border-radius: 30px;
  /* position: relative; */
  top: 100%;
  bottom: 100%;
  left: 45%;
  right: 45%;
}

/* This is the class for the caption on the coffee photo  */
.beverage {
  top: 100%;
  bottom: 100%;
  left: 45%;
  right: 45%;
}

/* This is the class for the <p> header on the hobbies page */
.hobbies {
  color: black;
  width: 30%;
  border: 3px solid rgb(223, 20, 149);
  padding: 2em;
  margin-right: 110px;
  float: right;
}

.fav {
  margin-top: 10px;
  text-align: center;
}

.yoga {
  float: right;
}

.party {
  margin-left: 10px;
  float: right;
  margin-right: 10px;
  float: right;
}

.dance {
  margin-right: 100px;
}

.bookImg {
  margin-left: 7%;
  margin-right: 7%;
}

.zumba {
  float: right;
  margin: auto;
}
